.animation_box__turn {
  animation: box_turn 0.7s forwards;
}

.animation_box__turn__away {
  animation: box_turn__away 0.7s forwards;
}

.animation_box__turn__clicked {
  animation: box_turn__clicked 0.7s forwards;
}

.animation_box__fade {
  animation: box_fade 0.38s forwards;
}

.animation_empty__turn {
  animation: empty_turn 0.38s forwards;
}

@keyframes empty_turn {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(6px);
  }
  20% {
    transform: translateX(-6px);
  }
  30% {
    transform: translateX(6px);
  }
  40% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box_turn {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.03);
  }
  25% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(1.03);
  }
  50% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes box_turn__away {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.03);
  }

  40% {
    transform: scaleY(1.03);
  }

  100% {
    transform: scaleY(0);
  }
}

@keyframes box_turn__clicked {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.03);
  }
  25% {
    transform: scaleY(0);
  }
  40% {
    transform: scaleY(1.03);
  }
  50% {
    transform: scaleY(1);
  }
  60% {
    transform: scaleY(1);
  }
  75% {
    transform: scaleY(1.03);
  }
  100% {
    transform: scaleY(1);
  }
}
