@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply w-[min(100%,1024px)];
}

.container-menu {
  @apply md:mx-auto md:w-[min(90%,970px)] mt-8 bg-white rounded-md md:shadow-md;
}

.container-transparent {
  @apply px-6 md:px-0 md:mx-auto md:w-[min(90%,970px)] mt-8;
}

.container-mine {
  @apply w-full flex justify-center items-center;
}

.game-window {
  @apply select-none h-[600px] w-full space-y-8 flex flex-col items-center justify-center cursor-pointer;
}

.game-message {
  @apply py-16;
}

.animation-appear {
  animation: appear 0.1s linear forwards;
  transform: scale(0%);
  /* opacity: 0; */
}

.animation-time-left {
  animation: time-left 2s linear forwards;
}

.animation-flash-red {
  animation: flash-red 1.4s forwards;
}

.animation-flash-white {
  animation: flash-white 1.4s forwards;
}

input {
  @apply outline-none focus:border-2 focus:border-light-blue;
}

@keyframes flash-red {
  0% {
    background-color: #f53264;
  }
  100% {
  }
}

@keyframes flash-white {
  0% {
    background-color: #e6e8f4;
  }
  100% {
  }
}

@keyframes appear {
  0% {
    transform: scale(0%);
    /* opacity: 0; */
  }
  100% {
    transform: scale(100%);
    /* opacity: 1; */
  }
}

@keyframes time-left {
  0% {
    transform: scaleX(100%);
  }
  100% {
    transform: scaleX(0%);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
/* button, */
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
